<%=image_tag("../../images/logo_sign.png", :width => "700", :height => "10", :alt => "")%><br/><br/>
Hello <b><%=@user.name%></b>, <br/><br/>

<b><%=@user.user_name%></b> invites you to join the LegoAds family <br/><br/>
<div style="border:2px dotted lightblue;background-color:#f5f5f5;padding:1px">
LegoAds Allows you to build your social reputation,test your ability to socialize with friends, shear your thoughts,
ideas, opinions, latest stories, socially compete and lots more. It also has an in built market that allows users to create
Ads of any product of their choice therefore not only do u socialize, you also make money
</div>
<br/><br/><br/>

join us now by clicking on the link below<br/><br/>

link

