<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<br/>
<span style="color:#5c5c5c;font-size:12px">
To compete against a beep is to write something contrary to the already existing beep and see people's opinion.
The more people "join" your beep the more points you get.</span> <br/>
<br/>