<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<br/>
<span style="color:#5c5c5c;font-size:12px">
Joining a beep is a way of showing your support. 3 points is awarded to any beep you join.<br/>
<b>Keep the fun going</b>
</span>
<br/>
<br/>
