<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div class="help_menu">

<div class="top_buttom">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=link_to'Increase Your Sales',:controller=>'users', :action=>'increase_sales',:id=>'1' %>
</div>
<div class="buttom">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=link_to 'How to subscribe',:controller=>'users', :action=>'subscribe',:id=>'1'%>
</div>
<div class="top_buttom">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=link_to 'view plans'%>
</div>

</div>


<div class="new_seller">

<div class="top">
Selling Basics
</div>

<div class="side">
  <br/> <br/> <br/> 

Here's everything you need to start selling on myTradr, right now
</div>
 
<b> [1] create an office by registering your business,it only takes a few minutes.</b><%=link_to 'Register Now', :controller=>'users', :action=>'register',:id=>'1'%>
<br/><br/>
<br/>
<b>[2] Activate your office by paying the monthly bill of your payment plan. i.e Basic,Premium,Gold </b>
<br/><br/>
<br/>
<b>[3] Once you have Activated your office you will be allowed to sell items and services.</b><br/>
Three images depicting three views (three different angles) of any item is needed in order to complete the item creating process.Make sure you give
an appropriate description of the item and a reasonable price to get customers attention.



</div>
