.support{
width:100%;
height:500px;
border:1px solid #eeeeee ;
overflow:auto;
}

.beep_content_border{
border-top:1px solid #eeeeee;
border-bottom:1px solid #eeeeee;
min-height:20%;
margin-top:0.5%;
color:black;
text-align:center;

padding-left:0.5%;
}
.beep_content_border:hover{
background-color:white;
}
.support_box{
margin-top:1%;
background-color:#eeeeee;
border:1px solid #5c5c5c;
padding-top:3%;
padding-bottom:3%;
}
.beep_top{
margin-top:1%;
border-top:1px solid #eeeeee;
}
.beep_response{
height:90px;
margin-top:0%;
margin-left:2.5%;
width:90%;

}
#support_button{
  margin-left:5%;
}




