/* 
    Document   : game
    Created on : Nov 4, 2011, 8:46:29 AM
    Author     : mummy
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.the_game{
float:right;
width:40%;

margin-top:1%;

}

.gameCenter{
padding-left:30%;
color:grey;
border-top:10px solid lightblue;
}

.tradrGame tr td {
border:1px solid lightblue;
}