/* 
    Document   : message
    Created on : Sep 26, 2011, 2:00:03 PM
    Author     : mummy
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.message{
float:right;
border:1px solid yellow;
width:70%;
height:500px;
margin-right:5%;
margin-top:4%;
background:white;
}
.block1{
border:1px solid blue;
width:50%;
height:500px;
float:right;
}
.block2{
border:1px solid blue;
width:50%;
height:500px;
}