/* 
    Document   : reset
    Created on : Jul 15, 2012, 4:06:01 PM
    Author     : mummy
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}


