
<div class="mid_page_container">
<div class="mid_section_center">
<div class="activity_header">
&nbsp;Contact Us &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span class="smiley_set">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=link_to "back",:back%>
</span>
</div>
<div class="no_activities">
<br/>
<br/>
<br/>
<span style="font-size:50px; color:#eeeeee">
Contact Us
</span><br/><br/>
Contact the LegoAds Team concerning Problems,Enquiries or Partnerships <br/><br/>
</div>
<div class="contact_info">
<%=image_tag("contact_us_phone.png")%> 08039639595 <br/><br/>
<%=image_tag("contact_map.png")%> LegoAdsTeam@gmail.com
</div>
 </div>
 </div>