
<div class="mid_page_container">
<div class="mid_section_center">
<div class="activity_header">
&nbsp;Help Department &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span class="smiley_set">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=link_to "back",:back%>
</span>
</div>
<div class="no_activities">
<br/>
<br/>
<br/>
<%=image_tag("help_page.png")%>
</div>
 </div>
 </div>